<!-- ПРАВА КОЛОНКА -->
    <main class="col-md-8 p-4">
      <!-- Про себе -->
      <section class="mb-4">
        <p class="text-secondary small about">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <blockquote class="fst-italic fw-semibold about1">
          “It is a long established fact that a reader will be distracted by the readable content<br>
          of a page when looking at its layout.”
        </blockquote>
      </section>

      <!-- Заголовок -->
      <div class="row mb-4 align-items-start">
        <div class="col-md-7">
          <div class="bg-custom-yellow p-4  shadow text-black col-md-8 about2">
            <h1 id="first-name" class="name style"></h1>
            <h1 id="last-name" class="surname style"></h1>
            <p class="title style">Graphic & Web Designer</p>
          </div>
        </div>
        <div class="col-md-5 contact-container contacts">
          <div class="d-flex flex-column gap-3">
            <div class="d-flex align-items-center one">
              <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 two">
                <i class="fas fa-phone text-black"></i>
              </div>
              <span>
                +1-718-310-5588
              </span>
            </div>
            <div class="d-flex flex-column gap-3">
  <div class="d-flex align-items-center contact-item site">
    <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 site1">
      <i class="fas fa-globe text-black"></i>
    </div>
    <span class="contact-text">www.yourwebsite.com</span>
  </div>
  <div class="d-flex align-items-start contact-item site">
    <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 site1">
      <i class="fas fa-map-marker-alt text-black"></i>
    </div>
    <span class="contact-text">769 Prudence Street<br>Lincoln Park, MI 48146</span>
  </div>
</div>

        </div>
      </div>

      <!-- Досвід роботи -->
      <section  class="mb-4 exp-job">
 <div class="d-flex align-items-start mb-0">
  <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 exp1">
    <i class="fas fa-briefcase text-black fs-5"></i>
  </div>
  <h2 class="h4 fw-bold text-uppercase mb-0 exp2">
    Job Experience
  </h2>
</div>
<hr class="exp3">
<div id="job-experience-container" >
</div>
      </section>

      <!-- Skills & Hobbies -->
      <div class="row skills skillss">
        <div class="col-md-6 mb-2">
          <section>
                 <!-- <div class="d-flex align-items-start mb-0 skills1">
        <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 skills2">
          <i class="fas fa-chart-pie text-black fs-4"></i>
        </div>
        <h2 class="h4 fw-bold text-uppercase mb-0 fs-4 skills3">Skills</h2>
        <i class="fas fa-arrow-down arrow"></i>
      </div>-->
      <div class="d-flex align-items-center mb-0 skills1">
  <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 skills2">
    <i class="fas fa-chart-pie text-black fs-4"></i>
  </div>
  <h2 class="h4 fw-bold text-uppercase mb-0 fs-4 skills3">Skills</h2>
  <i id="show-more-skills" class="fas fa-arrow-down arrow ms-3 mt-0"></i> 
</div>




   <div class ="line">


    <div id="skills" class="skill-list-hide">
  <div class="d-flex align-items-center mb-3 skill-sec skill-sec1">
    <div class="skill-sec2"></div>
    <span class="skill-sec3">Adobe Photoshop</span>
      <div class="progress">
  <div class="progress-bar"  id="AdobePhotoshop-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="d-flex align-items-center mb-3 skill-sec1">
    <div class="skill-sec2"></div>
    <span class="skill-sec3">Adobe Illustrator</span>
        <div class="progress">
  <div class="progress-bar"  id="AdobeIllustrator-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="d-flex align-items-center mb-3 skill-sec1">
    <div class="skill-sec2"></div>
    <span class="skill-sec3">Microsoft Word</span>
      <div class="progress">
  <div class="progress-bar"  id="MicrosoftWord-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="d-flex align-items-center mb-3 skill-sec1">
    <div class="skill-sec2"></div>
    <span class="skill-sec3">Microsoft Powerpoint</span>
     <div class="progress">
  <div class="progress-bar"  id="MicrosoftPowerpoint-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> 
    </div>
  </div>

  <div class="d-flex align-items-center mb-3 skill-sec1">
    <div class="skill-sec2"></div>
    <span class="skill-sec3">HTML-5/CSS-3</span>
      <div class="progress">
  <div class="progress-bar"  id="HTML-5CSS-3-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> 
    </div>
  </div>
  </div>
</div>

</section>
        </div>

        <div class="col-md-6 mb-3">
      <section>
        <div class="d-flex align-items-start mb-0 hobbies">
          <div class="bg-custom-yellow d-flex align-items-center justify-content-center me-2 hobbies1">
            <i class="fas fa-flag-checkered text-black fs-5"></i>
          </div>
          <h2 class="h4 fw-bold text-uppercase mb-0 fs-4 hobbies2">Hobbies</h2>
          <i id="show-more-hobbies" class="fas fa-arrow-down arrow ms-0 mt-2"></i>
        </div>

        <div id="hobbies" class="hobbie-list-hide">

        <div class="d-flex align-items-center mb-3 hobbies-sec hobbies-sec1">
          <div class="hobbies-sec2"></div>
          <span class="hobbies-sec3">Book Reading</span>
          <div class="progress">
            <div class="progress-bar" id="BookReading-progress" role="progressbar"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="d-flex align-items-center mb-3 hobbies-sec1">
          <div class="hobbies-sec2"></div>
          <span class="hobbies-sec3">Travelling</span>
          <div class="progress">
            <div class="progress-bar" id="Travelling-progress" role="progressbar"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="d-flex align-items-center mb-3 hobbies-sec1">
          <div class="hobbies-sec2"></div>
          <span class="hobbies-sec3">Playing Chess</span>
          <div class="progress">
            <div class="progress-bar" id="PlayingChess-progress" role="progressbar"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="d-flex align-items-center mb-3 hobbies-sec1" style="gap: 20px;">
          <div class="hobbies-sec2"></div>
          <span class="hobbies-sec3">Graphic Design</span>
          <div class="progress">
            <div class="progress-bar" id="GraphicDesign-progress" role="progressbar"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="d-flex align-items-center hobbies-sec1">
          <div class="hobbies-sec2"></div>
          <span class="hobbies-sec3">Painting</span>
          <div class="progress">
            <div class="progress-bar" id="Painting-progress" role="progressbar"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
          </div>
          </section>
        </div>
      </div>

    </main>