
@use 'sidebar';
@use 'maincolumn';
@use 'variables' as*;



/* ЗАГАЛЬНІ СТИЛІ */


    .bg-custom-dark { background-color: #232323; }
    .bg-custom-yellow { background-color: #FFCB2F; }
    .text-custom-yellow { color: #FFCB2F; }
    .border-custom-yellow { border-color: #FFCB2F; }
    



body {
  font-family: "Source Serif 4", serif;
      scroll-behavior: smooth;
      background-color: #e5e7eb;
  font-family: $font-family;
  font-variant-numeric: oldstyle-nums;
  background-color: white;
  color: $text-color-dark;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6;
}
.skills{
   font-size: 12px;
}

.resume {
  display: flex;
  max-width: 900px;
  margin: 50px auto;
  background: $light-bg;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* СЕКЦІЇ */
.section h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 5px;

  .icon {
    margin-right: 10px;
    color: $primary-color;
  }
}

