/* ЗМІННІ */
$primary-color: #f1c30f;
$dark-bg: #2d2d2d;
$light-bg: #ffffff;
$text-color-dark: #333333;
$text-color-light: #ffffff;
$grey-text: #6c757d;
$border-color: #e0e0e0;
$font-family: 'Poppins', sans-serif;

